*{
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    transition: background-color 1s ease-in-out;
}

form{
    padding: 100px;
}

input{
    padding: 5px;
}

.input-form{
    width: 100%;
    margin: 30px 0px;
    position: relative;
}

.input-form label{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 0;
    color: rgb(150, 150, 150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

.input-form .inputs{
    width: 100%;
    color: rgb(150, 150, 150);
    border: 0;
    border-bottom: 2px solid rgb(158, 157, 157);
    outline: 0;
    margin-top: 20px;
    font-size: 15px;
    transition: 1s ease-in-out;
}

/* PARA FOCAR UMA LINHA QUANDO CLICADA */
.input-form .inputs:focus,
.input-form .inputs:valid{
    border-bottom: 2px solid rgb(168, 12, 12);
}

/* PARA LABEL DO INPUT TRANSITAR QUANDO O INPUT FOR CLICADO */
.input-form .inputs:focus ~ label,
.input-form .inputs:valid ~ label{
    transform: translateY(-15px);
}

.input-check{
    padding-bottom: 20px;
    text-align: center;
}

.input-check input{
    transition: font-size 0.5s ease;
}

input[type='checkbox'] {
    accent-color: rgb(30, 17, 206);
}
  
.bnt-form input[type="submit"],
.bnt-form input[type="reset"] {
    width: 100px; 
}

.links-form {
    padding-top: 20px;
    text-align: center;
}

.links-form a{
    padding-top: 5px;
    color: black; 
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center; 
    margin: 10px 0;
    transition: 1s ease-in-out;
}

a:hover {
    color: rgb(168, 12, 12);
}

.bnt-form{
    text-align: center;
}

/* .acessivel{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
} 
*/

/* MODO ESCURO */
.dark-mode {
    background-color: #1A1A1A;
    color: white;
  }

.dark-mode .inputs{
    background-color: #1A1A1A;
    color: white;
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: 1s ease-in-out;
}

.dark-mode .input-form label{   
    color: white;
}

.dark-mode .links-form a{
    color: white;
}

button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

  /* Redimensione os ícones */
button img {
    width: 30px;
    height: 30px;
}

  /* Posicione os botões no canto superior direito */
  .btn-acessibilidade {
    position: absolute;
    top: 0;
    right: 0;
  }
